.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  margin: 29px 0 33px -21px;
  background-color: #ffffff;
  padding-right: 22px;
  padding-left: 22px;
  width: 238px;
}

.additional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional-products::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 5;
  height: 3px;
  margin-top: 12px;
  background-color: #68b738;
  z-index: -1;
}

.additional-products__type {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: normal;
  margin: 0 0 13px 0;
}

.additional-products__description {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.additional-products__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0 10px 0;
}

.additional-products__item:last-child {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 39px;
}

.additional-products__option,
.additional-products__price {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}

.additional-products__item {
  padding: 12px 0 18px;
  margin: 0;
  border-top: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  .additional-products::before {
    margin-top: 23px;
  }

  .additional-products__item {
    padding: 25px 35px 26px 37px;
    margin: 0;
    border: 1px solid #d9d9d9;
  }

  .additional-products__option,
  .additional-products__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .additional-products__description {
    display: flex;
    justify-content: flex-end;
  }

  .additional-products__price {
    width: 96px;
    text-align: right;
    padding-left: 10px;
  }

  .additional-products__list {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__wrapper {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
  }
}
