.catalog-item__title-link {
  text-decoration: none;
}

.catalog-item__image-link {
  text-decoration: none;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-item__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial", sans-serif;
}
