.catalog-item__title-link {
  text-decoration: none;
}

.catalog-item__image-link {
  text-decoration: none;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-item__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial", sans-serif;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    min-width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    min-width: 245px;
    gap: 80px;
  }
}
