.example-cat {
  background-color: #eaeaea;
}

.example-cat__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example-cat__description {
  color: #444444;
  font-family: "Arial", sans-serif;
}

.example-cat-info__text {
  font-size: 24px;
  line-height: 24px;
}

.example-cat-info__description {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
}

.example-cat-info__price {
  text-transform: uppercase;
  text-align: center;
}

.example-cat-info__wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .example-cat__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example-cat__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example-cat-info {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .example-cat {
    display: flex;
    flex-wrap: wrap;
  }

  .example-cat__wrapper {
    display: flex;
    flex-direction: column;
  }
}
