.footer-container__logo {
  display: flex;
  justify-content: center;
  margin: 32px;
}

.footer-container__logo:hover {
  opacity: 0.5;
}

.footer-container__logo:active {
  opacity: 0.3;
}

.footer-container__logo:focus {
  opacity: 0.1;
}

.footer-container__academy {
  fill: #666666;
}

.footer-container__academy:hover {
  fill: #68b738;
}

.footer-container__academy:active {
  fill: #68b738;
  opacity: 0.3;
}

.footer-container__academy:focus {
  fill: #68b738;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .footer-container__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-container__logo {
    margin: 32px 32px 29px 32px;
  }

  .footer-container--index {
    background-color: #f2f2f2;
  }

  .footer-container {
    padding-top: 63px;
    padding-bottom: 56px;
  }

  .footer-container--catalog {
    background-color: #f2f1f2;
    padding-top: 23px;
  }
}
