@media (min-width: @tablet-width) {
  .footer-container__wrapper {
    display: flex;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .footer-container__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
