.offer {
  background-image: url("../img/offer-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;
  background-size: cover;
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Arial", sans-serif;
}
