.offer {
  background-image: url('../img/offer-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;
  background-size: cover;
  min-height: 289px;
  display: flex;
  justify-content: center;
  padding: 50px 55px 42px;
  margin: 0 0 35px;
  align-items: flex-end;
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .offer {
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 46px;
  }

  .offer__text {
    width: 161px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .offer {
    min-height: 288px;
    width: 245px;
  }
}
