.program-item__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.program-item__description {
  color: #444444;
  font-family: "Arial", sans-serif;
}

.program-item__button {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}

.program-item {
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .program-item__title {
    font-size: 36px;
    line-height: 37px;
  }

  .program-item__description {
    font-size: 16px;
    line-height: 24px;
  }

  .program-item {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .program-item {
    width: 570px;
  }
}
