.program-item__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  margin: 0 0 29px 71px;
}

.program-item__title::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  position: absolute;
  left: -69px;
  top: -15px;
}

.program-item__title--weight-loss::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/cat-slim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -17px;
  left: -68px;
}

.program-item__title--weight-gain::after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 50px;
  background-image: url("../img/cat-gain.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -17px;
  left: -79px;
}

.program-item__description {
  color: #444444;
  font-family: "Arial", sans-serif;
  margin-bottom: 23px;
}

.program-item {
  background-color: #f2f2f2;
  padding: 30px 20px 22px;
  margin: 20px 0 19px;
  position: relative;
}

.program-item__button {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;
  display: block;
}

.program-item__button::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 12px;
  margin-left: 12px;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .program-item__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  .program-item__title::before {
    width: 200px;
    height: 200px;
    top: 6px;
    left: 400px;
  }

  .program-item__title--weight-loss::after {
    width: 200px;
    height: 196px;
    left: 395px;
  }

  .program-item__title--weight-gain::after {
    width: 200px;
    height: 196px;
    left: 395px;
    top: 10px;
  }

  .program-item__description {
    font-size: 16px;
    line-height: 24px;
  }

  .program-item {
    width: 708px;
    padding: 77px 281px 57px 52px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .program-item__button {
    border: none;
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: @desktop-width) {
  .program-item {
    width: 570px;
    padding: 75px 50px 59px 52px;
  }

  .program-item__title {
    padding-left: 165px;
  }

  .program-item__description {
    margin-top: 61px;
  }

  .program-item__title::before {
    width: 100px;
    height: 100px;
    top: -37px;
    left: -6px;
  }

  .program-item__title--weight-loss::after {
    width: 70px;
    height: 97px;
    left: 8px;
    top: -30px;
  }

  .program-item__title--weight-gain::after {
    width: 134px;
    height: 56px;
    left: -28px;
    top: -6px;
  }
}
