.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial", sans-serif;
}

.show-more__button {
  font-size: 16px;
  line-height: 20px;
}
