.social {
  display: flex;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 19px;
  padding-bottom: 20px;
  justify-content: center;
}

.social__item {
  margin-right: 39px;
}

.social__link {
  fill: #666666;
}

.social__link:hover {
  fill: #68B738;
}

.social__link:active {
  fill: #68B738;
  opacity: 0.3;
}

.social__link:focus {
  fill: #68B738;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
    border: none;
  }
}
